<!DOCTYPE html>
<html lang="en" ng-app="meditationApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Meditation</title>

        <!-- css -->
        <link href="/static/meditation/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/static/meditation/css/meditationStyle.css" type="text/css" rel="stylesheet">

        <!-- font -->
        <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Abel' rel='stylesheet' type='text/css'>
    </head>

    <body ng-controller="mainController">
        {% block content %}{% endblock %}

        <iframe id="download-frame" name="download-frame" height="0" width="0" frameborder="0" scrolling="yes"></iframe>

        <script src="/static/meditation/js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

        <script src="/static/meditation/js/ng-file-upload-shim.min.js"></script>
        <script src="/static/meditation/js/ng-file-upload.min.js"></script>
        <script src="/static/meditation/js/django-angular.min.js"></script>

        <!-- angularJS scripts -->
        <script src="/static/meditation/js/meditationApp.js" type="text/javascript"></script>
        <script src="/static/meditation/js/meditationDirectives.js" type="text/javascript"></script>
        <script src="/static/meditation/js/factories.js" type="text/javascript"></script>
        <script src="/static/meditation/js/mainController.js" type="text/javascript"></script>
        <script src="/static/meditation/js/createController.js" type="text/javascript"></script>
        <script src="/static/meditation/js/authController.js" type="text/javascript"></script>
        <script src="/static/meditation/js/profileController.js" type="text/javascript"></script>
        <script src="/static/meditation/js/helpController.js" type="text/javascript"></script>
        <script src="/static/meditation/js/albumController.js" type="text/javascript"></script>
    </body>
</html>